################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Batch Processing using Quartz.Net/ConsoleApp1/ConsoleApp1/obj/Debug
